include pug/mixins.pug

mixin OurCatalogItem(img, title)
    -let bg = "assets/images/catalog/" + img
    a(href="").our__catalog__item
        img(src= bg, alt="").bg
        span=title

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include pug/head.pug
    body
        +Infobar()
        section.banner__slider
            +Navbar()
            .owl-carousel
                .slider__item
                    img(src="assets/images/banner_slider/1.jpg", alt="").bg
                    .container
                        .text__wrapper
                            span.text__black Мебель для персонала
                            span.text__red от эконом до премиум класса
                                .clipped
                .slider__item
                    img(src="assets/images/banner_slider/1.jpg", alt="").bg
                    .container
                        .text__wrapper
                            span.text__black Мебель для персонала
                            span.text__red от эконом до премиум класса
                                .clipped
            .owl-dots
        section.our__pluses
            .container
                .pluses__wrapper
                    .plus
                        img(src="assets/images/pluses/1.png", alt="")
                        .wrapper
                            b Огромный каталог
                            span офисной и другой мебели
                    .plus
                        img(src="assets/images/pluses/2.png", alt="")
                        .wrapper
                            b Низкие цены
                            span на офисную мебель
                    .plus
                        img(src="assets/images/pluses/3.png", alt="")
                        .wrapper
                            b Тысячи клиентов
                            span в Москве и РФ
                    .plus
                        img(src="assets/images/pluses/4.png", alt="")
                        .wrapper
                            b Доставка товаров
                            span в любой регион России
        section.our__catalog
            .container
                h2.title Наш каталог
                .our__catalog__wrapper
                    +OurCatalogItem('1.jpg', 'Мебель для персонала')
                    +OurCatalogItem('1.jpg', 'Кабинеты руководителя')
                    +OurCatalogItem('1.jpg', 'Офисные кресла')
                    +OurCatalogItem('1.jpg', 'Офисные диваны')
                    +OurCatalogItem('1.jpg', 'Модульная мягкая мебель')
                    +OurCatalogItem('1.jpg', 'Стойки ресепшн')
                    +OurCatalogItem('1.jpg', 'Столы переговоров')
                    +OurCatalogItem('1.jpg', 'Офисные перегородки')
                    +OurCatalogItem('1.jpg', 'Многоместные секции')
                    +OurCatalogItem('1.jpg', 'Металлическая мебель')
                    +OurCatalogItem('1.jpg', 'Сейфы')
                    +OurCatalogItem('1.jpg', 'Гостинная мебель')
        section.recomended
            .container
                h2.title Рекомендуем
                .products__wrapper
                    .product__item
                        img(src="assets/images/catalog/1.jpg", alt="")
                        .desc
                            span.name Мебель для персонала XTEN
                            .price__wrapper
                                span.old__price от 1234
                                span.new__price 1234 руб 
                            button.btn.red В корзину
                    .product__item
                        img(src="assets/images/catalog/1.jpg", alt="")
                        .desc
                            span.name Мебель для персонала XTEN
                            .price__wrapper
                                span.old__price от 1234
                                span.new__price 1234 руб 
                            button.btn.red В корзину
                    .product__item
                        img(src="assets/images/catalog/1.jpg", alt="")
                        .desc
                            span.name Мебель для персонала XTEN
                            .price__wrapper
                                span.old__price от 1234
                                span.new__price 1234 руб 
                            button.btn.red В корзину
                .more__block
                    .products__wrapper
                        .product__item
                            img(src="assets/images/catalog/1.jpg", alt="")
                            .desc
                                span.name Мебель для персонала XTEN
                                .price__wrapper
                                    span.old__price от 1234
                                    span.new__price 1234 руб 
                                button.btn.red В корзину
                        .product__item
                            img(src="assets/images/catalog/1.jpg", alt="")
                            .desc
                                span.name Мебель для персонала XTEN
                                .price__wrapper
                                    span.old__price от 1234
                                    span.new__price 1234 руб 
                                button.btn.red В корзину
                        .product__item
                            img(src="assets/images/catalog/1.jpg", alt="")
                            .desc
                                span.name Мебель для персонала XTEN
                                .price__wrapper
                                    span.old__price от 1234
                                    span.new__price 1234 руб 
                                button.btn.red В корзину
                        .product__item
                            img(src="assets/images/catalog/1.jpg", alt="")
                            .desc
                                span.name Мебель для персонала XTEN
                                .price__wrapper
                                    span.old__price от 1234
                                    span.new__price 1234 руб 
                                button.btn.red В корзину
                        .product__item
                            img(src="assets/images/catalog/1.jpg", alt="")
                            .desc
                                span.name Мебель для персонала XTEN
                                .price__wrapper
                                    span.old__price от 1234
                                    span.new__price 1234 руб 
                                button.btn.red В корзину
                        .product__item
                            img(src="assets/images/catalog/1.jpg", alt="")
                            .desc
                                span.name Мебель для персонала XTEN
                                .price__wrapper
                                    span.old__price от 1234
                                    span.new__price 1234 руб 
                                button.btn.red В корзину
                .btn__wrapper
                    button.btn.grey.large Показать еще
        +MorePluses()
        +OurPartners()
        section.about__us
            .container
                a(href="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=true").col__video
                    img(src="assets/images/bg/1.png", alt="")
                .col__text
                    h2 КОМПАНИЯ «ОФИСНАЯ МЕБЕЛЬ АЛЬФА-М»
                    p Предприятие было образовано в 2009 году группой специалистов, имеющих многолетний опыт работы в сфере производства и реализации офисной мебели. В настоящее время нам доверяют более сотни российских организаций. За время работы были успешно реализованы проекты по обстановке ведущих российских банков, государственных и коммерческих структур, таких как: ОАО «АЛЬФА-БАНК», АКБ «РОСЕВРОБАНК» (ОАО), КБ «ЮНИАСТРУМ БАНК» (ООО), «Федеральная служба по экологическому, технологическому и атомному надзору», ОАО «НИИЭС». ОАО «АЛЬЯНСТРАНСАТОМ», Государственное учреждение «РС ФЖТ», ФГУП «Охрана» МВД России, ЗАО ТД «Меритель», ЗАО «Торгово-промышленная компания «Алмаз-Холдинг» и многих других.
                    b Плюсы сотрудничества
                    p Наличие официально заключенных дилерских договоров с ведущими фабриками России и Европы дает возможность устанавливать выгодные цены на офисную мебель, а качественный подход сотрудников компании к своим профессиональным обязанностям позволяет предоставлять максимально высокий уровень сервисных услуг для наших клиентов.
                    a(href="").red__link 
                        |Узнать больше >> 
        section.info__section
            .container
                .col__banners
                    .banner
                        img(src="assets/images/banner/1.png", alt="")
                        .wrapper
                            span ВОСПОЛЬЗУЙТЕСЬ НАШЕЙ БЕСПЛАТНОЙ УСЛУГОЙ
                            a(href="") 3D ДИЗАЙН-ПРОЕКТ ВАШЕГО ОФИСА
                            small Дизайн-проект позволяет увидеть расположение мебельных единиц не только на виде сверху, но и в проекции 3D. 
                    .banner
                        img(src="assets/images/banner/2.png", alt="")
                        .wrapper
                            span ДЛЯ ВАШЕГО УДОБСТВА ВОСПОЛЬЗУЙТЕСЬ БЕСПЛАТНОЙ УСЛУГОЙ
                            a(href="") ВЫЗОВ МЕНЕДЖЕРА
                            a(href="") Оценка качества работы 
                    .banner
                        img(src="assets/images/banner/3.png", alt="")
                        .wrapper
                            span Узнайте, какие мы предлагаем варианты оплаты, с какими платежными системами работаем.
                            img(src="assets/images/icons/payments.png", alt="")
                            a(href="") ОПЛАТА ПОКУПОК
                .col__achievements
                    .title__wrapper
                        h2.title Наши достижения
                        .owl-nav
                    .owl-carousel
                        .slider__item
                            img(src="assets/images/achievements/1.jpg", alt="")
                        .slider__item
                            img(src="assets/images/achievements/1.jpg", alt="")
                    a(href="").red__link Смотреть все достижения >>
                .col__news
                    h2.title Наши новости
                    .news__wrapper
                        a(href="").news
                            .title__wrapper
                                img(src="assets/images/icons/news.png", alt="")
                                .wrapper
                                    span.date 2021-03-24
                                    span.news__title 10 лет вместе с вами
                            .desc
                                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, neque atque magnam culpa fugit officia necessitatibus ad molestias! Nesciunt consectetur vel facere beatae suscipit iure sint saepe itaque commodi architecto, similique ad ut rem accusamus impedit expedita sed quibusdam dicta? Recusandae ut error culpa, debitis fugit porro doloribus iste accusamus magni fuga sed ratione natus? Itaque voluptates dolorum reprehenderit labore distinctio amet numquam repudiandae velit temporibus quibusdam iusto quisquam aut inventore accusamus consectetur, aspernatur modi?
                        a(href="").news
                            .title__wrapper
                                img(src="assets/images/icons/news.png", alt="")
                                .wrapper
                                    span.date 2021-03-24
                                    span.news__title 10 лет вместе с вами
                            .desc
                                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, neque atque magnam culpa fugit officia necessitatibus ad molestias! Nesciunt consectetur vel facere beatae suscipit iure sint saepe itaque commodi architecto, similique ad ut rem accusamus impedit expedita sed quibusdam dicta? Recusandae ut error culpa, debitis fugit porro doloribus iste accusamus magni fuga sed ratione natus? Itaque voluptates dolorum reprehenderit labore distinctio amet numquam repudiandae velit temporibus quibusdam iusto quisquam aut inventore accusamus consectetur, aspernatur modi?
                    a(href="").red__link Читать все новости >>
        section.ask_us
            .container
                +QuestionForm()
        +Footer()
                     
        include pug/scripts.pug
        <svg class="svg">
            <clipPath id="my-clip-path" clipPathUnits="objectBoundingBox"><path d="M1,0.5 L0,1 L0,0 L1,0.5"></path></clipPath>
        </svg>