include pug/mixins.pug

mixin OurCatalogItem(img, title)
    -let bg = "assets/images/catalog/" + img
    a(href="").our__catalog__item
        img(src= bg, alt="").bg
        span=title

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include pug/head.pug
    body
        +Infobar()
        section.banner__slider
            +Navbar()
            .owl-carousel
                .slider__item
                    img(src="assets/images/banner_slider/1.jpg", alt="").bg
                    .container
                        .text__wrapper
                            span.text__black Мебель для персонала
                            span.text__red от эконом до премиум класса
                                .clipped
                .slider__item
                    img(src="assets/images/banner_slider/1.jpg", alt="").bg
                    .container
                        .text__wrapper
                            span.text__black Мебель для персонала
                            span.text__red от эконом до премиум класса
                                .clipped
            .owl-dots
        section.our__pluses
            .container
                .pluses__wrapper
                    .plus
                        img(src="assets/images/pluses/1.png", alt="")
                        .wrapper
                            b Огромный каталог
                            span офисной и другой мебели
                    .plus
                        img(src="assets/images/pluses/2.png", alt="")
                        .wrapper
                            b Низкие цены
                            span на офисную мебель
                    .plus
                        img(src="assets/images/pluses/3.png", alt="")
                        .wrapper
                            b Тысячи клиентов
                            span в Москве и РФ
                    .plus
                        img(src="assets/images/pluses/4.png", alt="")
                        .wrapper
                            b Доставка товаров
                            span в любой регион России
        section.our__catalog
            .container
                h2.title Наш каталог
                .our__catalog__wrapper
                    +OurCatalogItem('1.jpg', 'Мебель для персонала')
                    +OurCatalogItem('1.jpg', 'Кабинеты руководителя')
                    +OurCatalogItem('1.jpg', 'Офисные кресла')
                    +OurCatalogItem('1.jpg', 'Офисные диваны')
                    +OurCatalogItem('1.jpg', 'Модульная мягкая мебель')
                    +OurCatalogItem('1.jpg', 'Стойки ресепшн')
                    +OurCatalogItem('1.jpg', 'Столы переговоров')
                    +OurCatalogItem('1.jpg', 'Офисные перегородки')
                    +OurCatalogItem('1.jpg', 'Многоместные секции')
                    +OurCatalogItem('1.jpg', 'Металлическая мебель')
                    +OurCatalogItem('1.jpg', 'Сейфы')
                    +OurCatalogItem('1.jpg', 'Гостинная мебель')
        section.recomended
            .container
                h2.title Рекомендуем
                .recomended__wrapper
                    .recomended__item
                        img(src="assets/images/catalog/1.jpg", alt="")
                        .desc
                            span.name Мебель для персонала XTEN
                            .price__wrapper
                                span.old__price от 1234
                                span.new__price 1234 руб 
                            button.btn.red В корзину
                    .recomended__item
                        img(src="assets/images/catalog/1.jpg", alt="")
                        .desc
                            span.name Мебель для персонала XTEN
                            .price__wrapper
                                span.old__price от 1234
                                span.new__price 1234 руб 
                            button.btn.red В корзину
                    .recomended__item
                        img(src="assets/images/catalog/1.jpg", alt="")
                        .desc
                            span.name Мебель для персонала XTEN
                            .price__wrapper
                                span.old__price от 1234
                                span.new__price 1234 руб 
                            button.btn.red В корзину
                .more__block
                    .recomended__wrapper
                        .recomended__item
                            img(src="assets/images/catalog/1.jpg", alt="")
                            .desc
                                span.name Мебель для персонала XTEN
                                .price__wrapper
                                    span.old__price от 1234
                                    span.new__price 1234 руб 
                                button.btn.red В корзину
                        .recomended__item
                            img(src="assets/images/catalog/1.jpg", alt="")
                            .desc
                                span.name Мебель для персонала XTEN
                                .price__wrapper
                                    span.old__price от 1234
                                    span.new__price 1234 руб 
                                button.btn.red В корзину
                        .recomended__item
                            img(src="assets/images/catalog/1.jpg", alt="")
                            .desc
                                span.name Мебель для персонала XTEN
                                .price__wrapper
                                    span.old__price от 1234
                                    span.new__price 1234 руб 
                                button.btn.red В корзину
                        .recomended__item
                            img(src="assets/images/catalog/1.jpg", alt="")
                            .desc
                                span.name Мебель для персонала XTEN
                                .price__wrapper
                                    span.old__price от 1234
                                    span.new__price 1234 руб 
                                button.btn.red В корзину
                        .recomended__item
                            img(src="assets/images/catalog/1.jpg", alt="")
                            .desc
                                span.name Мебель для персонала XTEN
                                .price__wrapper
                                    span.old__price от 1234
                                    span.new__price 1234 руб 
                                button.btn.red В корзину
                        .recomended__item
                            img(src="assets/images/catalog/1.jpg", alt="")
                            .desc
                                span.name Мебель для персонала XTEN
                                .price__wrapper
                                    span.old__price от 1234
                                    span.new__price 1234 руб 
                                button.btn.red В корзину
                .btn__wrapper
                    button.btn.grey.large Показать еще
        section.more__pluses
            .container
                .pluses__wrapper
                    .plus
                        img(src="assets/images/more_pluses/1.png", alt="")
                        span.desc Команда высококлассных специалистов мебельного бизнеса
                    .plus
                        img(src="assets/images/more_pluses/2.png", alt="")
                        span.desc Огромный ассортимент мебели от эконом до VIP-класса
                    .plus
                        img(src="assets/images/more_pluses/3.png", alt="")
                        span.desc Лучшая офисная мебель, по самой низкой цене
                    .plus
                        img(src="assets/images/more_pluses/4.png", alt="")
                        span.desc Профессиональная сборка мебели
                    .plus
                        img(src="assets/images/more_pluses/5.png", alt="")
                        span.desc Срочная доставка офисной мебели
                    .plus
                        img(src="assets/images/more_pluses/6.png", alt="")
                        span.desc 10 лет успеха на рынке
        section.our__partners
            .container
                .owl-carousel
                    .partner
                        img(src="assets/images/partners/1.png", alt="")
                    .partner
                        img(src="assets/images/partners/2.png", alt="")
                    .partner
                        img(src="assets/images/partners/3.png", alt="")
                    .partner
                        img(src="assets/images/partners/4.png", alt="")
                .owl-nav

        include pug/scripts.pug
        <svg class="svg">
            <clipPath id="my-clip-path" clipPathUnits="objectBoundingBox"><path d="M1,0.5 L0,1 L0,0 L1,0.5"></path></clipPath>
        </svg>